---
---

@import "{{ site.theme }}";

.button {
  background-color: #155799;
  color: rgba(255, 255, 255, 0.9);
  font-weight: bold;
  height: 50px;
  margin: auto;
  opacity: 0.4;
  position: relative;
  text-align: center;
  top: 230px;
  white-space: nowrap;
  width: 250px;
}

.center {
  position: relative;
}

.content {
  margin-bottom: 30vh;
}

/* Reference:
https://dianxnao.com/htmljs%EF%BC%9Atextarea%E3%82%BF%E3%82%B0%E3%82%92%E4%BD%BF%E3%81%A3%E3%81%A6%E3%83%96%E3%83%A9%E3%82%A6%E3%82%B6%E3%82%92%E3%82%BF%E3%83%BC%E3%83%9F%E3%83%8A%E3%83%AB%E9%A2%A8%E3%81%AB%E8%A3%85/#toc5 */
.converter {
  position: relative;
  top: 240px;
  white-space: nowrap;
}

.drag {
  background: #eee;
  border-color: #ddd;
  border-style: dashed;
  height: 90%;
  overflow-y: auto;
  position: relative;
  text-align: center;
}

.file {
  height: 150px;
  width: 45%;
}

.file1 {
  float: left;
}

.file2 {
  float: right;
}

.message {
  color: #9F0000;
  height: 15px;
  position: relative;
  top: 235px;
  white-space: nowrap;
}

.note {
  white-space: pre-line;
}

.page-header {
  padding: 2rem 4rem;
}

.subsection {
  border-top: solid 1px $hr-border-color;
  margin-top: 2rem;
  padding-top: 2rem;
}

.terminal {
  background: #222;
  border: none;
  color: white;
  display: block;
  font-size: medium;
  height: 140px;
  resize: none;
  width: 100%;
}

.terminal:active,
.terminal:focus {
  outline: 0;
}

.top25 {
  top: 25%;
}
