---
---

@import "{{ site.theme }}";

.button {
  background-color: #155799;
  color: rgba(255, 255, 255, 0.9);
  font-weight: bold;
  height: 50px;
  margin: auto;
  opacity: 0.3;
  position: relative;
  text-align: center;
  top: 250px;
  white-space: nowrap;
  width: 250px;
}

.center {
  position: relative;
}

.content {
  margin-bottom: 35vh;
}

.drag {
  background: #eee;
  border-color: #ddd;
  border-style: dashed;
  height: 90%;
  position: relative;
  text-align: center;
}

.file {
  height: 150px;
  width: 45%;
}

.file1 {
  float: left;
}

.file2 {
  float: right;
}

.message {
  color: #9F0000;
  position: relative;
  top: 270px;
  white-space: nowrap;
}

.top25 {
  top: 25%;
}

.top40 {
  top: 40%;
}