---
---

@import "{{ site.theme }}";

.browse {
  font-size: 15px;
}

.button {
  background-color: #155799;
  color: rgba(255, 255, 255, 0.9);
  font-weight: bold;
  height: 50px;
  margin: auto;
  opacity: 0.7;
  position: relative;
  text-align: center;
  top: 250px;
  width: 250px;
}

.center {
  position: relative;
  text-align: center;
}

.content {
  margin-bottom: 35vh;
}

.drag {
  background: #eee;
  border-color: #ddd;
  border-style: dashed;
  height: 90%;
  position: relative;
}

.file {
  height: 150px;
  width: 45%;
}

.file1 {
  float: left;
}

.file2 {
  float: right;
}

.message {
  color: violet;
  position: relative;
  text-align: center;
  top: 275px;
}

.top25 {
  top: 25%;
}

.top40 {
  top: 40%;
}