---
---

@import "{{ site.theme }}";

.button {
  background-color: #155799;
  color: rgba(255, 255, 255, 0.9);
  font-weight: bold;
  height: 50px;
  margin: auto;
  opacity: 0.4;
  position: relative;
  text-align: center;
  top: 230px;
  white-space: nowrap;
  width: 250px;
}

.center {
  position: relative;
}

.content {
  margin-bottom: 30vh;
}

.converter {
  border-top: solid 1px $hr-border-color;
  margin-top: 2rem;
  padding-top: 2rem;
  position: relative;
  top: 240px;
  white-space: nowrap;
}

.drag {
  background: #eee;
  border-color: #ddd;
  border-style: dashed;
  height: 90%;
  overflow-y: auto;
  position: relative;
  text-align: center;
}

.file {
  height: 150px;
  width: 45%;
}

.file1 {
  float: left;
}

.file2 {
  float: right;
}

.message {
  color: #9F0000;
  height: 15px;
  position: relative;
  top: 235px;
  white-space: nowrap;
}

.page-header {
  padding: 2rem 4rem;
}

.terminal {
  background: #222;
  border: none;
  color: white;
  display: block;
  font-size: medium;
  height: 100px;
  resize: none;
  width: 100%;
}

.terminal:active,
.terminal:focus {
  outline: 0;
}

.top25 {
  top: 25%;
}

.top40 {
  top: 40%;
}